@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: sans-serif;
   color: #354358;
   transition: all 0.3s ease;
}

.transpan{
   transition: all 0.3s ease-out;
}

/* //TODO put this in document */
/* body {
   background-color: black;
} */


.toggle{
   height: 100px;
   width: 200px;
   border-radius: 50px;
   border: 1px solid black;
   background-image: linear-gradient(aqua, skyblue);
   position: relative;
   cursor: pointer;
   transform: scale(0.5);
   
}

.toggle.night{
   background-image: linear-gradient(midnightblue, rebeccapurple);
}


.notch{
height: 90px;
width: 90px;
border-radius: 50%;
background-image: radial-gradient(
      farthest-corner at 30px 30px,
      rgb(255, 255, 0) 10%,
      rgb(209, 209, 0) 100%
    );
/* background-color: yellow; */
position: absolute;
top: 5px;
left: 5px;
box-shadow: 0 0 5px yellow;
z-index: 1;
transition: all 0.3s ease;
}

.night > .notch{
   /* background: rgb(206, 206, 206); */
   box-shadow: 0 0 5px whitesmoke;
   background-image: radial-gradient(
      farthest-corner at 70px 30px,
      whitesmoke 10%,
      rgb(156, 153, 153) 90%
    );
   transform: translate(100px, 0);
}

.shape{
   position: absolute;
   background-color: whitesmoke;
   border-radius: 50%;
   
   transition: all 0.3s ease;
}

.shape.tp{
   height: 25px;
   width: 25px;
   top: 25%;
   left: 60%;
   border-radius: 50% 50% 50% 0%;   
}
.shape.tp.one{
   height: 40px;
   width: 40px;
   top: 10%;
   left: 45%;
   border-radius: 50% 50% 0% 0%;
   
}
.shape.tp.two{
   height: 35px;
   width: 35px;
   top: 15%;
   left: 35%;
   border-radius: 50% 50% 0% 50%;  
}



.shape.lf{
   height: 25px;
   width: 25px;
   top: 65%;
   left: 12%;
   border-radius: 50% 50% 0% 50%;
   z-index: 2;
}
.shape.lf.one{
   height: 40px;
   width: 40px;
   top: 50%;
   left: 20%;
   border-radius: 50% 50% 0% 0%;
}
.shape.lf.two{
   height: 25px;
   width: 25px;
   top: 65%;
   left: 35%;
   
   border-radius: 50% 50% 50% 0%;
}
.shape.rg{
   height: 20px;
   width: 20px;
   top: 65%;
   left: 65%;
   border-radius: 50% 50% 0% 50%;
}
.shape.rg.one{
   height: 30px;
   width: 30px;
   top: 55%;
   left: 70%;
   border-radius: 50% 50% 0% 0%;
}
.shape.rg.two{
   height: 25px;
   width: 25px;
   top: 60%;
   left: 80%;
   
   border-radius: 50% 50% 50% 0%;
}



/* .shape.md{
   height: 10px;
   width: 75px;
   top: 25%;
   left: 25%;
   
} */

.shape.lg{
   height: 30px;
   width: 100px;
   bottom: 20%;
   left: 25%;
}

.night .shape.tp{
   height: 2px;
   width: 2px;
   transform: translate(-30px, -10px);
   border-radius: 50%;
}
.night .shape.tp.one{
   height: 5px;
   width: 5px;
   transform: translate(-30px, 20px);
   border-radius: 50%;
}
.night .shape.tp.two{
   height: 4px;
   width: 4px;
   transform: translate(-30px, 10px);
   border-radius: 50%;
}

.night .shape.lf{
   height: 7px;
   width: 7px;
   transform: translate(145px, -25px);
   border-radius: 50%;
   background:rgb(226, 226, 226);
   
}.night .shape.lf.one{
   height: 12px;
   width: 12px;
   transform: translate(120px, -30px);
   border-radius: 50%;
   
}.night .shape.lf.two{
   height: 7px;
   width: 7px;
   transform: translate(110px, -37px);
   border-radius: 50%;
   
}

.night .shape.rg{
   height: 5px;
   width: 5px;
   transform: translate(-110px, -15px);
   border-radius: 50%;
}
.night .shape.rg.one{
   height: 3px;
   width: 3px;
   transform: translate(-90px, 20px);
   border-radius: 50%;
}
.night .shape.rg.two{
   height: 5px;
   width: 5px;
   transform: translate(-80px, 20px);
   border-radius: 50%;
}

.emailProfile-down{
      
   visibility: visible;
}

.emailProfile-down.hidden{
   visibility: hidden;
}
.emailProfile-up{
      
   visibility: visible;
}
.emailProfile-up.hidden{
   visibility: hidden;
}

.emailProfile-throw{
  
   visibility: hidden;
}




/* media query */

@media (max-width: 1415px) {
   
   
   .emailProfile-down{
      visibility: hidden;
   }
   .emailProfile-up{
      
      visibility: hidden;
   }
   
   .emailProfile-throw{
      visibility: visible;
      margin-top: -30px;
   }

   
}

@media (max-width: 1024px) {
   .emailProfile-down{
   visibility: visible;
}
.emailProfile-up{
      
   visibility: hidden;
}
.emailProfile-throw{
   visibility: hidden;
}

   
}

/* stiky side bar */

  
 .is-sticky {
   position: sticky;
   top: 10px;
   z-index: 999;
   animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
 }

 /* end stiky side bar */

 /* menu css */

.navtransition{
   transition: all 0.3s ease;
}

.underline {
   /* position: absolute; */
   bottom: -1px;
   left: 0;
   right: 0;
   height: 2px;
   /* background: black; */
   /* background: var(--accent); */
 }
.underline .night{
   /* position: absolute; */
   bottom: -1px;
   left: 0;
   right: 0;
   height: 2px;
   /* background: #D0826F; */
   /* background: var(--accent); */
 }
 /* end menu css */